body {
  font-family: "BlueTerminal", sans-serif;
  background-color: #050f51;
  color: #ffffff;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  position: relative;
}



html {
  scroll-behavior: smooth !important;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.08);
}

/* Link related decorations  */

a {
  color: #ffffff;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -5px;
  left: 0;
  background-color: #ff0000;
  transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

a:hover:not(.title-link) {
  color: #ff0000;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 4px;
  box-shadow: 0px 12px 18px 2px rgba(237, 13, 122, 0.64);
  transition: all 0.4s ease-in-out;
}

a:hover::before {
  width: 100%;
}


h1 {
  font-family: "SansationBold", sans-serif;
}

p {
  font-family: "SansationRegular", sans-serif;
}

.test {
  font-family: "SansationRegular", sans-serif;
  color: #ffffff;
  font-size: 29px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #04337e #ffffff;
  outline: 1px rgba(255, 0, 0, 0.4) solid; //debug outline
}

/* Overall limiting content wrappers */

// .wrapper {
//   max-width: 1600px;
//   margin: 0 auto;
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 100px;
// }


.page-wrapper {
  margin-bottom: 5em;
  animation: page-wrapper-ani 1s ease-in-out;
}

@keyframes page-wrapper-ani {
  1% {
    opacity: 0;
    filter: blur(28px);
    transform: translateX(150%);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

}

/* Center limiting content wrappers */

.tools-intro {
  width: 50%;
  margin: 0 auto;
  padding: 2%;
}

.tools-intro-lead {
  width: 40%;
  margin: 0 auto;
  padding: 2%;
  text-align: center;
}

// Theme switcher

body {
  background-color: #8bbde9;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;

  .footer-wrapper {
    background-color: #8bbde9;

  }

  #print-text {
    color: white;
  }
}

body.dark {
  background-color: #000000;
  color: #ffffff;

  #print-text {
    color: lime;
  }

}


#theme-toggle {
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px groove greenyellow;
}