@font-face {
  font-family: "SansationRegular";
  src: url("../fonts/sansation-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SansationBold";
  src: url("../fonts/sansation-bold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SansationLight";
  src: url("../fonts/sansation-light.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "BlueTerminal";
  src: url("../fonts/bigblue-terminal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
