/* Light theme */

$colorMainLight1: #0848db;
$colorMainLight2: #0848db;
$colorAccentLight1: #0848db;
$colorAccentLight2: #0848db;
$colorTextLight1: #0848db;
$colorTextLight2: #0848db;
$colorBackdropLight1: #0848db;
$colorBackdropLight2: #0848db;

/* Dark theme */

$colorMainDark1: #0848db;
$colorMainDark2: #0848db;
$colorAccentDark1: #0848db;
$colorAccentDark2: #0848db;
$colorTextDark1: #0848db;
$colorTextDark2: #0848db;
$colorBackdropDark1: #0848db;
$colorBackdropDark2: #0848db;
