.myself {
  margin-bottom: 0;
}

.about-grid {
  display: grid;
  width: 808px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  gap: 0px;

}

p.bad-bold {
  font-weight: 900;
}

a {
  font-weight: 400 !important;
  width: fit-content;
  margin: 0 auto;

}

.about-site-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 808px;

}