.footer-wrapper {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  z-index: 1000;
  background-color: #050f51;
  margin-left: -8px;

}



.footer-wrapper a {
  color: #ff0000;
}

.rainbow-line {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(to right,
      red, orange, yellow, green, blue, indigo, violet);
  z-index: 10000;
}