extends includes/_layout/layout
block variables 
  - var nameTitle = 'About the website'
  
block main
  body.chamelion  
    +sidemenu('about')
    
    .page-wrapper(style="margin-top: 4em;") 


      .about-site-wrapper.chamelion
        img(class="myself" src=require("./media/img/logo/circle.png")).wrapper

        p(style="margin-top: 0px; /*in most cases embeded styles are not welcomed*/") This project is developed entirely in Windows 7 X64 ESU. If you dig into the source code of the site you will see many different practices, even bad ones. They are left intentionally, because it is a testbed website for learning.Currently it is aimed only for 1920px computer screens (because there weren't any full-fledged web smartphones in the 90s, kidding), mobile version will follow in a while (if i have enough spare time). During web development i used various pieces of software. Here is a list of handy applications.


      .about-grid.chamelion
        p.tools-intro-lead.bad-bold(style="color: red;") CODE TOOLS
          a(href="https://github.com/e3kskoy7wqk/vscode-for-windows-7/releases", target="_blank") VS Codium v1.100
          a(href="https://notepad-plus-plus.org/downloads", target="_blank") Notepad++ v8.8
          a(href="https://www.farmanager.com/download.php?l=en", target="_blank") Far Manager v3

          a(href="https://win7revived.wearmed.xyz", target="_blank") NodeJs v23.7
          a(href="https://webpack.js.org", target="_blank") Webpack v5.99


        p.tools-intro-lead.bad-bold(style="color: red;") BROWSERS & DB
          a(href="https://screenruler.sourceforge.io", target="_blank") RedFox 136
          a(href="https://screenruler.sourceforge.io", target="_blank") Supermium 132        
          a(href="https://www.postgresql.org", target="_blank") PostgreSQL v14
          a(href="https://pgadmin-archive.postgresql.org", target="_blank") PG Admin v6.21

        p.tools-intro-lead.bad-bold(style="color: red;") GRAPHICS TOOLS
          a(href="https://screenruler.sourceforge.io", target="_blank") Screen Ruler v0.1
          a(href="https://colora.sourceforge.io", target="_blank") Colora v0.3
          a(href="https://screenruler.sourceforge.io", target="_blank") GIF Optimizer v2.0
          a(href="https://css-ig.net/pinga", target="_blank") Pinga v0.64
          a(href="https://github.com/RazrFalcon/svgcleaner", target="_blank") SVG Cleaner v0.9
          a(href="https://www.xnview.com", target="_blank") XNViewMP v1.8
          a(href="https://support.microsoft.com/en-us/office/insert-ascii-or-unicode-latin-based-symbols-and-characters-d13f58d3-7bcb-44a7-a4d5-972ee12e50e0", target="_blank") Windows symbols

        p.tools-intro-lead.bad-bold(style=" color: red;")  OFFICE TOOLS
          a(href="https://www.virtualbox.org", target="_blank") VirtualBox 7
          a(href="https://www.libreoffice.org", target="_blank") Libre Office 2025
          a(href="https://www.foobar2000.org", target="_blank") Foobar2000 v2.25
          a(href="https://justgetflux.com", target="_blank") Flux v4.1
          a(href="https://workrave.org", target="_blank") Workrave v1.11
          

      p(style="margin-top: 0px; width: 600px; margin-top:20px; text-align:center; color: lime;").chamelion  MY CONTACT EMAIL S P 8 0 8 [ @ T ] D I S  R O O T [ D O T ] O R G