doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Testing emitting of Output2 page
  body.chamelion
    p Just a test page to demostrate that multiple exit points are emmiting
    p Page: Output 2
  
    a(href="index.html") Back to HOME