extends includes/_layout/layout

block variables 
  - var nameTitle = 'List of projects of my own'
  //- - var pageName = 'projects'

block main

  body.chamelion
    //- Conditional picture injection
    +sidemenu('projects')
    .curved-box-menu.title-project-style.wrapper 
    ul.project-benefits 
      li shows dinning menu on multiple monitors
      li dashboard for adding new dishes
      li removing dishes in the database by ID
      li direct editing of listed elements
      li real-time live search by title and ID
      a(href="https://github.com/spacedrone404/on-screen-food-menu-2", target="_blank" class="project-link") >> GITHUB REPO
    .curved-box-vote.title-project-style.wrapper 
    ul.project-benefits 
      li Dead simple
      li Project to test JS/PHP queries in real life tasks 
      li Javascript checks for entered symbols
      li Some basic animations
      a(href="https://github.com/spacedrone404/simple-voting-system", target="_blank" class="project-link") >> GITHUB REPO
    .curved-box-misc.title-project-style.wrapper 
    ul.project-benefits 
      li No frameworks used, pure code
      li GUI interactions [dots, arrow buttons, clicks]
      li Keyboard/mouse support
      li Swipe support is included also
      a(href="https://github.com/spacedrone404/timeline-years", target="_blank" class="project-link") >> GITHUB REPO

