extends includes/_layout/layout

block variables 
  - var nameTitle = 'List of projects of my own'
  //- - var pageName = 'projects'

block main

  body.body-projects.chamelion
    //- Conditional picture injection
    +sidemenu('projects')
    .curved-box-hugo.title-project-style.wrapper 
    ul.project-benefits 
      li Personal retro blog/website
      li Corpo attempt with some tweaks      
      a(href="https://codeberg.org/trackerninja/pages", target="_blank", class="project-link") >> CODEBERG REPO
      a(href="https://github.com/spacedrone404/hugo-hacker-testbed-template", target="_blank", class="project-link") >> GITHUB REPO
    .curved-box-menu.title-project-style.wrapper 
    ul.project-benefits 
      li Shows dinning menu on multiple monitors
      li Dashboard for adding new dishes
      li Removing dishes in the database by ID
      li Direct editing of listed elements
      li Real-time live search by title and ID
      a(href="https://github.com/spacedrone404/on-screen-food-menu-2", target="_blank", class="project-link") >> GITHUB REPO
    .curved-box-vote.title-project-style.wrapper 
    ul.project-benefits 
      li Dead simple
      li Project to test JS/PHP queries in real life tasks 
      li Javascript checks for entered symbols
      li Some basic animations
      a(href="https://github.com/spacedrone404/simple-voting-system", target="_blank", class="project-link") >> GITHUB REPO
    .curved-box-misc.title-project-style.wrapper 
    ul.project-benefits 
      li No frameworks used, pure code
      li GUI interactions [dots, arrow buttons, clicks]
      li Keyboard/mouse support
      li Swipe support is included also
      a(href="https://github.com/spacedrone404/timeline-years", target="_blank", class="project-link") >> GITHUB REPO

