doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- don't uncomment, it will break the layout
    //- link(rel="stylesheet" href=require("./styles/index.scss"))
    title Testbed page 1
  style. 


  body.chamelion
    include includes/menu/top
    include includes/menu/secondary
    include includes/menu/side

  .page-wrapper
    p(style="color: red;")  Testbed page 1


    //- img(src=require("./media/img/logo/circle.png")).wrapper
    //- a(href="media/docs/demo.txt").wrapper LINK TO TEXT FILE
    //- a(href="media/docs/dummy.pdf").wrapper LINK TO TEXT FILE

  //- script. 