style. 
  .pin {
    background-color: #aaa;
    display: block;
    height: 12px;
    width: 2px;
    position: absolute;
    left: 15%;
    top: 12px;

  }

  .pin:before {
    background-color: hsl(0 0% 0% / 0.1);
    box-shadow: 0 0 0.25em hsl(0 0% 0% / 0.1);
    content: "";
    height: 22px;
    width: 3px;
    left: 0;
    position: absolute;
    top: -11px;
    transform: rotate(47.5deg);
    transform-origin: 50% 100%;
  }

  .pin:after {
    background-color: red;
    box-shadow: inset 0 0 0 1px hsl(0 0% 0% / 0.1),
      inset 3px 3px 3px hsl(0 0% 100% / 0.07),
      inset -3px -3px 3px hsl(0 0% 0% / 0.07), 15px 1px 3px hsl(0 0% 0% / 0.09);
    border-radius: 50%;
    content: "";
    height: 12px;
    left: -5px;
    position: absolute;
    top: -10px;
    width: 12px;
  }

  .note {
    width: 100px;
    height: 60px;
    padding: 7px;
    font-size: 11px;
    box-shadow: 4px 4px 5px 0 rgb(0 0 0 / 0.18);
    animation: note-slide 0.8s ease-in-out;
    z-index: 1000;
    transform: rotate(8deg);
  }

  @keyframes note-slide {
    from {
      transform: translateX(-100%) rotate(-20deg);
      display: none;
      opacity: 0;
      filter: blur(8px);
    }

    to {
      transform: translateX(0%) rotate(11deg);
      display: block;
      opacity: 1;
      filter: blur(0);
    }
  }

  .blue {
    background: linear-gradient(90deg, #fff0 0%, rgb(17, 96, 221) 90%);

  }

  #morf-date {
    display: flex;
    transform: translateX(50px);
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
  }

  #morf-month {
    display: flex;
    transform: translateX(24px);
    font-size: 22px;
  }

  .date-wrapper {
    position: absolute;
      margin: 25px;
      bottom: 1vw;
      z-index: 9999;
      left: 0;
      transform: translateX(-90%);
  }
  .date-wrapper p {
    width: 80px;
    font-size: 28px;
  }

.footer-wrapper.chamelion
  .date-wrapper 
    .note.blue
        .pin
            #morf-date  
            #morf-month
  p.footer-left Create resources, #[a(href="https://github.com/spacedrone404", target="_blank") not accounts]!
  p.footer-right © 2025 Copyleft by #[a(href="https://trackerninja.codeberg.page", target="_blank") TrackerNinja]

  script.
    const months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "Jun",
    "Jul",
    "Aug",
    "Sep",
    "Oct",
    "Nov",
    "Dec",
    ];
    let currentDate = new Date();
    let dateString = `${currentDate.getDate()}`;
    let monthString = `${months[currentDate.getMonth()]}`;

    document.getElementById("morf-date").textContent = dateString;
    document.getElementById("morf-month").textContent = monthString;

    