.menu-top-wrapper.chamelion
  .logo
    a(href="index.html") 
      img(src=require("../../media/img/logo/circle.png"), alt="Pixel Author")
  a(href="index.html" class="title-link") 
    .title.title-style
      p PIXELCODE  
  ul
    li.menu-top-link 
      a(href="projects.html") Projects

    li.menu-top-link
      a(href="web-snippets.html") Snippets

    li.menu-top-link
      a(href="storage-tools.html") Backup

    li.menu-top-link
      a(href="batch-tools.html") Batches

    li.menu-top-link
      a(href="settings.html") Settings

    li.menu-top-link
      a(href="about.html") About

    li.menu-top-link
      button(id="theme-toggle") ☼
.rainbow-line